@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #4e0fee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.WrapperTaskM {
  background: #4b6fe5;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.fromsTaskM {
  width: 100%;
  margin-bottom: 1rem;
}

.formTaskInput {
  outline: none;
  background: none;
  border: 1px solid #2ae5d6;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.formTaskInput::placeholder {
  color: #fffffff0;
}

.formTaskButton {
  background: #12aea1;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.deleteAllButton, .deleteDoneButton {
  background: #12aea1;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  margin-bottom: 10px; /* Add margin below the "Eliminar Todo" button */
}


.TaskManager {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3359d8;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.TaskManager input[type="checkbox"] {
  width: 20px; 
  height: 20px;  
}


.done {
  text-decoration: line-through;
}

.buttonGroup {
  display: flex; 
}

.buttonGroup button {
  margin-right: 20px;
  margin-left: 10px;
}

.buttonGroup button:last-child {
  margin-left: 100px; 
}